#box-container {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
}
.box {
    --box-per-side: 16;
    width: calc(480px / var(--box-per-side));
    height: calc(480px / var(--box-per-side));
}